.home {
    display: flex;
    flex-direction: column;
    color: #4E4E4E;
    height: 100vh;
    overflow-y: scroll;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__header {
            height: 30vh;
            h1 {
                font-size: 6vmin;
                font-weight: 700;
                margin-top: 14vh;
                margin-left: 8vw;
                margin-right: 8vw;
                margin-bottom: 2vh;
            }

            span {
                font-size: 2.6vmin;
                margin-left: 8vw;
                margin-right: 8vw;
                // margin: 2vh 16vw;
            }
        }

        &__search {
            display: flex;
            height: 10vh;

            input[type='text'],
            textarea,
            select {
                display: block;
                padding: 1.8vh 1.4vw;
                width: 100%;
                background-color: white;
                border-radius: .5vw;
                border: .1vw solid #e5e5e5;
                font-size: 1.8vmin;
                outline: none;
                margin: 0 1vw;
                    
                transition-property: none;
                transition-duration: none;
            
                &:focus {
                    border-color: #08122A;
                }
            }

            input[type='text'],
            select {
                height: 5vh;
            }
        }

        &__content {
            width: 100vw;
            padding: 0 10vw;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(22vw, 1fr));
            justify-content: center;
            
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.5s ease-in-out;
    background: white;
    border-radius: 1vw;
    padding: 2vh 1.4vw;
    margin: 1vw;

    &:hover {
        transform: translateY(1vh);
    }

    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #08122A;
        border-radius: 1vw;
        z-index: 2;
        transition: 0.5s all;
        opacity: 0;
    }

    &:hover:before {
        opacity: 1;
    }

    &:hover &__info {
        opacity: 1;
        transform: translateY(3vh);
    }

    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: gray;
    }

    &__info {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        padding: 1vh 2vw;
        z-index: 3;
        width: 100%;
        text-align: left;
        line-height: 3.4vh;
        opacity: 0;
        transform: translateY(0);
        transition: 0.3s all;
        color: white;

        &__about {
            margin-bottom: 2.4vh;
            font-size: 1.6vmin;
            opacity: 0.8;
      
            span {
                color: white !important;
                background: none !important;
            }
        }

        &__work {
            font-size: 2.8vmin;
            font-weight: 500;
            margin-bottom: 2vh;
        }

        &__price {
            font-weight: 700;
            font-size: 3.4vmin;
        }
    }

    &__photo {
        width: 24vh;
        height: 24vh;
        border-radius: 1vw;
        align-self: center;
        background-color: gray;
        margin-top: 2vh;
        margin-bottom: 2.4vh;

        img {
            width: 100%;
        }
    }

    &__name {
        font-size: 2.6vmin;
        color: #08122A;
        margin-bottom: 1.8vh;
        line-height: 3.6vh;
        font-weight: 600;
    }

    &__detail {
        font-size: 2.2vmin;
        margin-bottom: 2vh;
        line-height: 3.4vh;
    }
}


